* {
    padding: 0px;
    margin: 0px;
}
.flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
}

.flex1 {
    display: flex;
    background-color: black;
    width: 25%;
}
.flex25 {
    display: flex;
    width: 50%;
    flex-direction: column;
}
.flex6 {
    display: flex;
    background-color: chartreuse;
    width: 25%;
}
.flex23 {
    display: flex;
    height: 50%;
    flex-direction: row;
}
.flex45 {
    display: flex;
    height: 50%;
    flex-direction: row;
}
.flex2 {
    display: flex;
    background-color: chocolate;
    width: 30%;
}
.flex3 {
    display: flex;
    background-color: rgb(210, 30, 201);
    width: 70%;
}
.flex5 {
    display: flex;
    background-color: rgb(247, 70, 0);
    width: 30%;
}
.flex4 {
    display: flex;
    background-color: rgb(47, 169, 185);
    width: 70%;
}